<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <!-- See http://logback.qos.ch/manual/layouts.html -->
        <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
        <pattern>%date{ISO8601} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
      </encoder>
  </appender>

  <logger name="$project_group_id$.$name;format="norm,word"$" level="\${$name;format="snake,upper"$_LOG:-debug}" additivity="false">
    <appender-ref ref="console" />
  </logger>

  <logger name="akka" level="\${$name;format="snake,upper"$_AKKA_LOG:-info}" additivity="false">
    <appender-ref ref="console" />
  </logger>

  <root level="warn">
    <appender-ref ref="console"/>
  </root>

</configuration>

